html{
    margin:0;
}

body{
    background-color:#757de8;
}

#header{
    margin:0;
      display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

}

#portfolio{
 
    max-width:500px;
    margin: auto;
}

#portfolio img{
    max-width: 500px;
    padding: 10px;
}
#portfolio p{
    max-width: 500px;
    padding: 10px;
    font-family: 'Vollkorn', serif;
}


