html{
    margin:0;
}

body{
    background-color:#757de8;
}

#header{
    margin:0;
      display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

}

#portfolio{
    	position: absolute;
	
	background-color: coral;
    left:50%;
	bottom:100%:;
    width: 520px;
    margin-left: -300px;
	margin-top: 100px;
	z-index: 5;

    
}

#portfolio img{
    max-width: 500px;
    padding: 10px;
}
#portfolio p{
    max-width: 500px;
    padding: 10px;
    font-family: 'Vollkorn', serif;
    color:black
  
}

